# Build files
ios/*
android/*
dist/*
# Test files
cypress/*
# Config files
vite.config.ts
capacitor.config.ts
cypress.config.ts
.eslintrc.cjs

# TODO: Remove the below line and find out why it's failing
src/utils/auth/firebase/index.d.ts
